<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.mps.mcapp"
        version="0.0.1">

    <name>MCAPP</name>

    <description>
        Aplicativo para exibição de conteúdos multimídia
    </description>

    <author href="" email="">
        Marcos Paulo da Silva
    </author>
    
	<preference name="permissions" value="none" />
	
</widget>